<!-- Exercise 1: Use property binding to adjust the height and width of an image.
Create a new angular project called property-binding-image-size
In app.component.ts, create two instance properties called width and height. Both properties have a type of number and a value between 100 - 500 (you choose the number)
In app.component.html, create an img element (see reference for this exercise) and include its src attribute. Then, copy an image address link from google (make sure it has an image extension at the end of the link) and set src to the image link.
Now, add two more attributes: width and height, and use property binding to set it to the instance properties you made in your app.component.ts file.
Reference: https://www.w3schools.com/tags/att_height.asp -->
